<section class="openlmis-table-container">
    <button type="text" class="add" ui-sref='.add'>{{'pcmtIntegrationList.addSchedule' | message}}</button>
    <table>
        <caption ng-if="!vm.integrations || vm.integrations.length === 0">
            {{'pcmtIntegrationList.noIntegrations' | message}}
        </caption>
        <thead>
            <tr>
                <th>{{'pcmtIntegrationEdit.schedule' | message}}</th>
                <th>{{'pcmtIntegrationEdit.description' | message}}</th>
                <th>{{'pcmtIntegrationList.actions' | message}}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="integration in vm.integrations">
                <td><openlmis-cron-selection ng-model="integration.cronExpression" read-only="true"/></td>
                <td>{{integration.description}}</td>
                <td>
                    <button class="primary" ui-sref=".edit({id: integration.id})">{{'pcmtIntegrationList.edit' | message}}</button>
                    <button ui-sref=".execute({id: integration.id})">{{'pcmtIntegrationList.execute' | message}}</button>
                    <button class="danger" ng-click="vm.deleteIntegration(integration)">{{'pcmtIntegrationList.delete' | message}}</button>
                </td>
            </tr>
        </tbody>
    </table>
    <openlmis-pagination
        list="vm.integrations"
        paged-list="vm.items"/>
</section>

