<form id="integrationForm" ng-submit="vm.saveIntegration()" reload-form>
    <label for="period" class="is-required">{{'pcmtIntegrationEdit.schedule' | message}}</label>
    <openlmis-cron-selection 
        ng-required="true"
        ng-disabled="false"
        ng-model="vm.integration.cronExpression" 
        read-only="false"/>

    <label for="description">{{'pcmtIntegrationEdit.description' | message}}</label>
    <input id="description" type="text" ng-model="vm.integration.description"/>

</form>
